<form
  class="flex flex-col gap-y-6"
  [formGroup]="registerForm"
  (submit)="register()"
>
  <!-- Campo Email -->
  <div class="flex flex-col gap-y-2">
    <label for="email" class="label-text"> Correo electrónico </label>
    <div class="relative">
      <input
        id="email"
        type="email"
        name="email"
        required
        autocomplete="email"
        placeholder="tu@email.com"
        class="input-text"
        formControlName="email"
        [class.border-red-500]="emailControl?.invalid && emailControl?.touched"
      />
      <div class="absolute right-3 top-1/2 -translate-y-1/2">
        <i class="pi pi-envelope w-5 h-5 text-gray-400"></i>
      </div>
    </div>
    <app-error-message [control]="emailControl" />
  </div>

  <!-- Campo Password -->
  <div class="flex flex-col gap-y-2">
    <label for="password" class="label-text"> Contraseña </label>

    <div class="relative">
      <input
        id="password"
        type="password"
        name="password"
        required
        autocomplete="new-password"
        placeholder="••••••••"
        class="input-text"
        formControlName="password"
        [class.border-red-500]="
          passwordControl?.invalid && passwordControl?.touched
        "
      />
      <div class="absolute right-3 top-1/2 -translate-y-1/2">
        <i class="pi pi-lock w-5 h-5 text-gray-400"></i>
      </div>
    </div>
    <app-error-message [control]="passwordControl" />
  </div>

  <!-- Campo Confirmar Password -->
  <div class="flex flex-col gap-y-2">
    <label for="confirmPassword" class="label-text">
      Confirmar Contraseña
    </label>

    <div class="relative">
      <input
        id="confirmPassword"
        type="password"
        name="confirmPassword"
        required
        autocomplete="new-password"
        placeholder="••••••••"
        class="input-text"
        formControlName="confirmPassword"
        [class.border-red-500]="
          confirmPasswordControl?.invalid && confirmPasswordControl?.touched
        "
      />
      <div class="absolute right-3 top-1/2 -translate-y-1/2">
        <i class="pi pi-shield w-5 h-5 text-gray-400"></i>
      </div>
    </div>
    <app-error-message [control]="confirmPasswordControl" />
  </div>

  <div class="pt-4">
    @if (isLoading()) {
      <app-spinner />
    } @else {
      <button type="submit" class="btn-primary">Registrarse</button>
    }
  </div>
</form>
