<app-auth-layout title="Login">
  <app-login-form />

  <!-- Divider -->
  <div class="mt-8 mb-6">
    <div class="relative">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-white/20"></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="px-4 bg-transparent text-gray-400">o</span>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p class="text-sm text-gray-300">
      ¿No tienes una cuenta?
      <a routerLink="/register/" class="a-link"> Regístrate aquí </a>
    </p>
  </div>
</app-auth-layout>
