<p-dialog
  header="Crear Nueva Tarea"
  [modal]="true"
  [(visible)]="visibleState"
  [style]="{ width: '30rem' }"
  (onHide)="closeDialog()"
>
  <div class="w-full">
    <form
      class="space-y-4"
      [formGroup]="createTaskForm"
      (submit)="createTask()"
    >
      <div>
        <label for="title" class="label-text mb-2"> Título de la tarea </label>
        <input
          id="title"
          type="text"
          formControlName="title"
          placeholder="Ej: Revisar emails"
          class="input-text"
          formControlName="title"
          [class.border-red-500]="
            titleControl?.invalid && titleControl?.touched
          "
        />
        <app-error-message [control]="titleControl" />
      </div>

      <div>
        <label for="description" class="label-text mb-2"> Descripción </label>
        <textarea
          id="description"
          formControlName="description"
          rows="5"
          placeholder="Describe los detalles de la tarea..."
          class="input-text"
          formControlName="description"
          [class.border-red-500]="
            descriptionControl?.invalid && descriptionControl?.touched
          "
        ></textarea>
        <app-error-message [control]="descriptionControl" />
      </div>
      @if (isLoading()) {
        <app-spinner />
      } @else {
        <div class="flex justify-end gap-2 mt-5">
          <div class="w-1/2">
            <button (click)="closeDialog()" type="button" class="btn-secondary">
              Cancelar
            </button>
          </div>
          <div class="w-1/2">
            <button type="submit" class="btn-primary">Crear Tarea</button>
          </div>
        </div>
      }
    </form>
  </div>
</p-dialog>
